<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="getAllMember" resultType="MemberVO">
		select * from mymember
	</select>
	
	<select id="selectById" parameterType="String" resultType="String">
		select mem_id 
		  from mymember
		 where mem_id=#{mem_id}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
		insert into mymember(MEM_ID, MEM_PASS, MEM_NAME, MEM_TEL, MEM_ADDR, MEM_ADD1, MEM_ADD2, MEM_MAIL, MEM_ZIP)
		values (#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr}, #{mem_add1}, #{mem_add2}, #{mem_mail}, #{mem_zip})
	</insert>
	
	<select id="loginProcess" parameterType="map" resultType="MemberVO">
		select * 
		  from mymember
		 where mem_id = #{mem_id}
		   and mem_pass = #{mem_pass}
	</select>
</mapper>